<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>ArquetipoJavaModular</display-name>

	<!-- WADL -->
	<servlet>
		<servlet-name>WADL</servlet-name>
		<servlet-class>org.jboss.resteasy.wadl.ResteasyWadlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WADL</servlet-name>
		<url-pattern>/application.wadl</url-pattern>
	</servlet-mapping>

	<!-- El tiempo de sesion no expira -->
	<session-config>
		<session-timeout>-1</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Error pages -->
	<error-page>
		<error-code>500</error-code>
		<location>/errorpages/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorpages/error500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorpages/error404.jsp</location>
	</error-page>

</web-app>